/* General Waybar styling */
* {
    border: none;
    border-radius: 12px; /* For rounded corners */
    font-family: "FiraCode Nerd Font Mono";
    font-size: 14px;
    min-height: 0;
}

/* Background and blur */
window#waybar {
    background-color: rgba(30, 30, 46, 0.4);
    transition: all 0.5s ease-in-out;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

/* Module styling */
#workspaces,
#custom-launcher,
#custom-quicklinks,
#tray,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#battery,
#clock {
    background-color: rgba(45, 45, 68, 1);
    padding: 0px 10px;
    margin: 2px;
    border-radius: 8px;
    color: #cdd6f4;
}

#window {
    padding: 0px 10px;
    margin: 3px;
    border-radius: 8px;
    color: #cdd6f4;
}

#workspaces button {
    background-color: transparent;
    color: #cdd6f4;
    border-radius: 0;
    margin: 4px;
}

#workspaces button:hover {
    background-color: rgba(45, 45, 68, 0.4);
    border-radius: 8px;
    box-shadow: none;
}

#workspaces button.active {
    background-color: #fab387;
    color: #1e1e2e;
    border-radius: 8px;
}

#workspaces button.active:hover {
    background-color: #fab387;
}

/* Specific module tweaks */
#cpu {
    color: #a6e3a1;
}

#memory {
    color: #89b4fa;
}

#disk {
    color: #f5c2e7;
}

#pulseaudio {
    color: #f38ba8;
}

#battery.critical {
    color: #f53c3c;
}
